.App {
  text-align: center;
  height: 1000px;
}

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

.Nav{
  background-color: gray;
  height: 100px;  display: flex;
  vertical-align: middle;
  justify-content: center;
}

.Body{
  display: flex;
  background-color: rgba(144, 135, 222, 0.246);
  height: 500px;
  vertical-align: middle;
  justify-content: center;
}

.Footer{
  background-color: gray;
  height: 100px;
  display: flex;
  vertical-align: middle;
  justify-content: center;
}

.no-bull{
  list-style-type: none;
}